---

---

<div class="bg-[#C7C7AD] text-base-100 rounded-t-4xl rounded-b-4xl -mt-4">
  <section id="about" class="py-12 md:py-48 container mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-5xl md:text-6xl font-bold mb-4 uppercase tracking-tight">
        About
      </h2>
      <div class="h-1 w-24 bg-accent mx-auto mb-6"></div>
    </div>

    <article
      class="[&_ul>li]:before:!text-base-100 prose lg:prose-xl text-base-100 prose-headings:text-base-100 prose-ul:text-base-100 prose-invert content-center mx-auto"
    >
      <p>
        We're empowering leaders to create healthier, more resilient workplaces
        by integrating wellness strategies, understanding WHS compliance, and
        adopting leadership practices suitable for the AI age.
      </p>
      <p>
        Pause 2025 is not just an event; it’s a movement to create workplaces
        where leaders lead with purpose, employees thrive, and mental health is
        a priority. Through awareness, education, and advocacy, we aim to drive
        meaningful change in workplace culture across Australia.
      </p>

      <h2>The Facts</h2>
      <ul>
        <li>
          70% of employees in Australia believe their mental health is
          significantly influenced by workplace culture.
        </li>
        <li>
          1 in 4 leaders admit they lack the tools or knowledge to advocate for
          well-being effectively—Pause Summit provides actionable solutions to
          bridge this gap.
        </li>
      </ul>

      <h2>Why Attend?</h2>
      <h3>For HR Professionals</h3>
      <p>
        Stay ahead of the curve by learning about the latest WHS legislation,
        compliance strategies, and employee wellness trends.
      </p>
      <h3>For Team Leaders</h3>
      <p>
        Unlock your team’s potential by fostering psychological safety and
        addressing psychosocial hazards.
      </p>
      <h3>For Business Owners</h3>
      <p>
        Learn actionable strategies to balance productivity, well-being, and
        compliance.
      </p>
    </article>
  </section>
</div>
