<img
  referrerpolicy="no-referrer-when-downgrade"
  src="https://m.muie.one/m.php?idsite=10&rec=1"
  style="border:0"
  alt=""
  loading="lazy"
/>

<footer
  class="footer sm:footer-horizontal footer-center bg-[#C7C7AD] text-base-100 rounded-t-4xl p-10"
>
  <aside class="grid-flow-col items-center"></aside>

  <aside class="grid-flow-col gap-4 md:place-self-center md:justify-self-start">
    <a role="link" class="text-xl font-heading text-base-100" href="/">PAUSE</a>
  </aside>

  <aside class="grid-flow-col items-center">
    <p>
      Copyright {new Date().getFullYear()} Rachel WingMan
    </p>
  </aside>
</footer>
