---
import { Icon } from "astro-icon/components";
---

<div
  class="navbar fixed top-0 z-50 bg-primary text-primary-content shadow-md ghost"
>
  <div class="navbar-start">
    <div class="dropdown">
      <div
        tabindex="0"
        role="button"
        aria-label="drop down menu"
        class="btn btn-ghost lg:hidden"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-xl menu-vertical dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow"
      >
        <li><a href="#agenda">Agenda</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
      </ul>
    </div>
    <a role="link" class="p-2 text-xl font-heading" href="/">PAUSE</a>
  </div>
  <div class="navbar-center hidden lg:flex uppercase">
    <ul class="menu menu-horizontal px-1">
      <li><a href="#agenda">Agenda</a></li>
      <li><a href="#speakers">Speakers</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#sponsors">Sponsors</a></li>
      <!-- <li> -->
      <!--   <details> -->
      <!--     <summary>Parent</summary> -->
      <!--     <ul class="p-2"> -->
      <!--       <li><a>Submenu 1</a></li> -->
      <!--       <li><a>Submenu 2</a></li> -->
      <!--     </ul> -->
      <!--   </details> -->
      <!-- </li> -->
      <!-- <li><a>Item 3</a></li> -->
    </ul>
  </div>
  <div class="navbar-end">
    <a
      role="button"
      class="btn btn-accent rounded-full btn-sm md:btn-md px-2 md:px-8 md:gap-2 transform transition-all hover:scale-105 hover:shadow-lg"
      href="https://events.humanitix.com/pause-lclbenvj"
      target="_blank"
    >
      <Icon name="mdi:ticket-confirmation" class="hidden md:flex w-6 h-6" />
      Get Tickets
    </a>
  </div>
</div>
