---
export const prerender = false;
---

<section id="register" class="py-24 container mx-auto px-4">

<div class="text-2xl py-4 font-bold"> Delegate Register </div>


<script async
  src="https://js.stripe.com/v3/buy-button.js">
</script>

<div class="flex items-center ">
<stripe-buy-button
class="card bg-base-100 shadow-sm "
  buy-button-id="buy_btn_1Qpq7zEMGHwVpLSmrM2KTTG9"
  publishable-key="pk_live_51NJ3xXEMGHwVpLSmObbTjRfZUFfVmcZsUFUZJVGmmRd1wogIfRCNLIUIT5TnfxQ6N0VndbAyGLFEeMvcxBfv1bgL00aDQ7gJ2j"
>

</div>





</section>
